
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//@import url("https://fonts.googleapis.com/css?family=Kurale:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700|Source+Code+Pro:400,700');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-comp {
  background-color: $gray-900;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
  //box-shadow: 0 2px 4px $gray-900;
}

.navbar-brand-comp
{
    font-family: $headings-font-family;
    //font-weight: $font-weight-bold;
}

.navbar-logo
{
    height: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-logo-box
{
    display: flex;
    align-items: center;
}

.dropdown-divider
{
    border-color: $gray-600;
}
